/* -----------------------------------------
   GLOBAL DESIGN TOKENS / VARIABLES
----------------------------------------- */
:root {
  --radius-btn: 12px;

  /* Brand Colors */
  --color-primary: #da7756;
  --color-primary-dark: #bd5d3a;
  --color-primary-light: #f0efe9;
  --color-primary-disabled: #e6b6a3;
  --color-primary-active: #bd5d3a;
  --color-primary-hover: #c76545;
  --color-border: #999587;
  --color-dark-green: #3d3929;
  --color-purple-hover: #d5d4df;

  /* For picker */
  --color-bg-picker: #f5f5f5;
  --color-text-picker: #333;
  --color-primary-picker: #ddac9c;
  --color-primary-dark-picker: #cc9988;
  --color-light-gray-picker: #e0e0e0;
  --space-lg-half: 1.5rem;

  /* Background + Text */
  --color-bg: #eeece2;
  --color-text: #222222;

  /* Neutral Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #3d3929;

  /* Spacing Scale */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;
  --space-xxl: 6rem;
  --space-xxxl: 8rem;
  --space-xxxxl: 20rem;

  /* Font sizes */
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 2.5rem;
  --font-xxl: 4rem;
}
